<md-dialog aria-label="Login">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" ng-click="c.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <!-- <md-button>Login with Google</md-button> -->
      <a href="http://localhost:3030/auth/google" class="md-button">login with google</a>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button ng-disabled='c.invalid' ng-click="c.create()">
        Create
      </md-button>
    </md-dialog-actions> -->
  </form>
</md-dialog>
