<div layout="row" flex layout-fill>


  <md-sidenav class="sub-sidenav detail-sidenav md-whiteframe-z1"
              md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="qp-nav">
    <md-sidemenu>
      <md-sidemenu-group>
        <md-subheader class="md-no-sticky">Elements</md-subheader>
        <md-sidemenu-content ng-repeat="subelement in c.pool.subElements"
          md-heading="{{subelement.id}}" md-arrow="true">
          <md-subheader class="md-no-sticky">Sections</md-subheader>
          <md-sidemenu-button ng-repeat="section in subelement.sections"
            ui-sref="questionpools.detail({ id: $stateParams.id, eleid: $parent.$index, $index })">{{section.id}}</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
    </md-sidemenu>
  </md-sidenav>



  <md-content
    class=" card-holder"
    layout-align="center center"
    ui-view>
    <md-card  >
      <md-card-title>
         <md-card-title-text>
           <span class="md-title">{{c.pool.name}}</span>
         </md-card-title-text>
       </md-card-title>
    </md-card>
    <md-card>
      <md-card-content>
        <h4><h3>{{c.subelement.id}}.</h3> {{c.subelement.description}}</h4>
        <section>
          <md-subheader>{{c.section.id}}. {{c.section.description}}</md-subheader>
            <md-list>
              <md-list-item class="md-2-line" layout-fill layout="column" ng-repeat="question in c.section.questions">
                <h3>{{question.id}}. {{question.question}}</h3>

                <md-list ng-model="question.choice">
                  <md-list-item class="md-1-line"
                      ng-class="{'md-primary' : choice.answer==$index}"
                      ng-repeat='choice in question.choices' >
                    <span class="md-body-1">{{choice}}</span>
                  </md-list-item>
                </md-list>
              </md-list-item>
            </md-list>
          </section>
      </md-card-content>
    </md-card>
</div>
